{% extends "auction/base.html" %}

{% block body %}
	<form action="forgotPassword/process" method="post">
		{% csrf_token %}
		<div class="row pt-5">
			<div class="col-sm-4"></div>
			<div class="col-sm">
				{% if request.GET.error == 'success' %}
				<div class="alert alert-success">
					<strong>Success! </strong>A password reset link was sent to your email.
				</div>
				{% endif %}
                {% if request.GET.error == 'nouser' %}
				<div class="alert alert-danger">
					<strong>Error! </strong>A user with that email doesn't exist.
				</div>
				{% endif %}
				<input type="email" class="form-control form-control-lg my-1" placeholder="Enter Email" name="email" required>

				<button type="submit" class="btn btn-lg btn-primary btn-block mt-2">Send Reset Link</button>
			</div>
			<div class="col-sm-4"></div>
		</div>
	</form>
{% endblock %}