{% extends "auction/base.html" %}

{% block body %}
	<form action="resetPassword/process" method="post">
		{% csrf_token %}
		<div class="row pt-5">
			<div class="col-sm-4"></div>
			<div class="col-sm">
                {% if request.GET.error == 'nouser' %}
				<div class="alert alert-danger">
					<p><strong>Error! </strong>Hack detected. Invalid credentials</p>
				</div>
				{% endif %}
                {% if request.GET.error == 'minreq' %}
				<div class="alert alert-danger">
					<p><strong>Error! </strong>Your password doesn't meet the minimum requirements. Please make sure it's between 8 and 20 characters long.</p>
				</div>
				{% endif %}
                <input type="hidden" name="hash" value="{{ request.GET.h }}">
				<input type="password" class="form-control form-control-lg my-1" placeholder="Enter New Password" name="password" required>

				<button type="submit" class="btn btn-lg btn-primary btn-block mt-2">Reset Password</button>
			</div>
			<div class="col-sm-4"></div>
		</div>
	</form>
{% endblock %}